@using Benner.Tecnologia.Wes.Components.WebApp
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
	<title></title>
	
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/content/assets/global/plugins/font-awesome/css/font-awesome.min.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/content/assets/global/plugins/bootstrap/css/bootstrap.min.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/content/assets/global/plugins/jquery-minicolors/jquery.minicolors.css")"/>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/content/assets/global/css/components.min.css")"/>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/content/assets/global/css/plugins.min.css")"/>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/content/assets/layouts/layout/css/layout.min.css")"/>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/content/css/wes.css")"/>

</head>
<body>
    @RenderBody()
    
    <script src="@Url.Content("~/content/assets/global/plugins/jquery.min.js")"></script>    
    <script src="@Url.Content("~/content/assets/global/plugins/bootstrap/js/bootstrap.js")"></script>    
    <script src="@Url.Content("~/content/assets/global/plugins/jquery-minicolors/jquery.minicolors.js")"></script>    
    <script src="@Url.Content("~/content/assets/global/scripts/app.js")"></script>    
    <script src="@Url.Content("~/content/assets/layouts/layout/scripts/layout.js")"></script>    
    <script src="@Url.Content("~/content/js/Underscore.js")"></script>


    @RenderSection("scripts", required: false)
</body>
</html>